@import "tailwindcss";

:root {
  --primary: #5cc6d0;
  --secondary: #ffd700;
  --accent: #3a3a3a;
  --foreground: #171717;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);

  --font-family-montserrat: var(--font-montserrat);
}

body {
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, sans-serif;
}
